body {
    margin: 0px;
    overflow: hidden;
}


text {
    font-family: sans-serif;
}

.title {
    font-size: 3.7em;
    fill: #635F5D;
}

#menus {
    font-size: 2.5em;
    text-align: center;
}

#menus select {
    font-size: 2.5rem;
}

#menus select option {
    font-size: 1rem;
}

#checkboxes {
    font-size: 2.5em;
    text-align: center;
}